.expense-row:hover {
    -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
}

.expense-crud-buttons {
}

.expense-table td {
    width: 25%;
}

.expense-icon {
    font-size: 1.5rem;
}

.delete-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.delete-icon {
    font-size: 1.3rem;
    color: red;
}

.delete-icon:hover {
    opacity: .75;
}

.edit-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.edit-icon {
    font-size: 1.3rem;
}

.edit-icon:hover {
    opacity: .75;
}
