@import "_variables.scss";

.sidebar {
    background-color: $primary-colour;
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.middle-last-nav-item {
    flex-grow: 1; // assuming none of the other have flex-grow set
}

.sidebar .nav-item a {
    color: black;
    border-radius: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    background-color: rgba(255,255,255,0.35);
    color: rgba(0,0,0,0.85) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.90) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
