@page "/"

<div class="fade fadein mt-5">
    <AuthorizeView>
        <Authorized>
            @if (CurrentUser is null)
            {
                <LoadingSpinner />
            }
            else
            {
                <div class="text-center mb-5">
                    @if (CurrentUser.HasLoggedInBefore())
                    {
                        <h1 class="dark-font font-weight-light">Welcome back, @CurrentUser.FirstName!</h1>
                        <p class="dark-font">Your last login was: @CurrentUser.LastLogin.Value.ToLocalTime().ToShortDateString()</p>
                    }
                    else
                    {
                        <h1 class="dark-font font-weight-light">Welcome to Fimly, @CurrentUser.FirstName!</h1>
                    }

                    @if (peopleCount == 0)
                    {
                        <p class="dark-font lead mt-5">Get started by adding a <a href="/people/new">person</a>.</p>
                    }

                </div>

                <HouseholdOverview />

                // Todo:
                // Add totals overview of expenditure, income, etc.
            }
        </Authorized>
        <NotAuthorized>
            <div class="text-center mb-5">
                <h1 class="dark-font font-weight-light">Welcome to Fimly.io</h1>

                <p class="mt-4 mb-5 lead dark-font">A free budgeting and finance manager for the whole household.</p>

                <p class="mb-4 dark-font">Please <a href="/login">login</a> or <a href="/register">register</a> for a free account to begin using the app.</p>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>