<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-success primary-font shadow-sm">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="nav-link btn btn-lg btn-success primary-font shadow-sm">Log in</a>
    </NotAuthorized>
</AuthorizeView>