@using System.Reflection

@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <Clock />
        <LoginDisplay />
    </div>

    <div class="content px-4">
        <div class="content-wrap">
            <div class="jumbotron jumbotron-fluid shadow-sm fade fadein pt-4">
                @Body
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid pl-4 dark-font">
            <span>
                <a href="https://github.com/bdfin/Fimly" target="_blank">Fimly.io</a>
                | &copy; Beau Findlay @DateTime.UtcNow.Year
                | <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU v3</a>
            </span>
            <span class="float-right">v.@appVersion</span>
        </div>
    </footer>
</div>

@code{
    string appVersion = typeof(Program).Assembly.GetCustomAttribute<AssemblyFileVersionAttribute>().Version;
}