@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>

    <footer class="footer">
        <div class="container-fluid pl-4">
            <span class="dark-font"><a href="https://github.com/bdfin/Fimly" target="_blank">Fimly</a> © Beau Findlay</span>
        </div>
    </footer>
</div>
