@inherits LayoutComponentBase

<BlazoredModal />
<BlazoredToasts Position="ToastPosition.BottomRight" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        <div class="jumbotron jumbotron-fluid shadow-sm fade fadein">
            @Body
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid pl-4">
            <span class="dark-font"><a href="https://github.com/bdfin/Fimly" target="_blank">Fimly.io</a> © Beau Findlay @DateTime.UtcNow.Year</span>
        </div>
    </footer>
</div>
