<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
            <Authorizing>
                <p>Just checking with the boss you can come in.</p>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="container-fluid text-center">
                    <h4 class="dark-font mt-5">Sorry, there's nothing at this address.</h4>
                </div>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
